credentials.py
Test_Files
Trial_Results
build/.
dist/.
__pycache__
assetdb.db
ResultsMailingList.txt
All-Mercy-Assets-2019.xlsx
**.xls
**.xlsx
"\Updated Mercy Asset List.xls"
credentials.py
debug.log
MVAssistantPopupDialog.spec
"\MV Assistant Application.lnk"